<% include_stylesheet 'admin/extensions/assets/assets' %>

<h1>Edit Asset</h1>

<% form_for @image, :url => admin_asset_path(@image), :html => {'data-onsubmit_status' => onsubmit_status(@image)} do |f| %>
  <div class="form_area">
    <p class="title">
      Caption: <%= f.text_field :caption %>
    </p>
    <table>
      <tbody>
        <tr><th>Name</th><td><%= @image.upload_uid %></td></tr>
        <tr><th>Width</th><td><%= @image.upload.width %></td></tr>
        <tr><th>Height</th><td><%= @image.upload.height %></td></tr>
      </tbody>
    </table>
    <!-- FIXME: doesn't work at the moment -->
    <!-- <%= f.file_field :upload %> -->
    <div class="frame">
      <%= image_tag @image %>
    </div>
  </div>
  <p class="buttons">
    <%= save_model_button(@image) %>
    <%= save_model_and_continue_editing_button(@image) %>
    or <%= link_to 'Cancel', admin_assets_url %>
  </p>
<% end %>
