<% include_stylesheet 'admin/extensions/assets/assets' %>

<div class="outset">
  <ul id="assets">
    <% unless @images.empty? %>
      <% @images.each do |image| %>
        <li>
          <% link_to edit_admin_asset_path(image) do %>
            <%= square_thumb(image, 120) %>
            <span class="id">ID: <%= image.id %></span>
            <span class="caption"><%= image.caption %></span>
          <% end %>
          <%= link_to 'Remove', remove_admin_asset_path(image), :class => 'action remove', :title => 'Remove Asset' %>
        </li>
      <% end %>
    <% else %>
    <li class='empty'>No Assets</li>
    <% end %>
  </ul>
</div>

<div id="actions">
  <%= pagination_for(@images) %>
  <ul>
    <li class="new"><%= link_to 'Upload New Asset', new_admin_asset_path %></li>
  </ul>
</div>
