<% include_stylesheet 'admin/extensions/assets/assets' %>

<div class="outset">
  <ul id="assets">
    <% unless @images.empty? %>
      <% @images.each do |image| %>
        <li>
          <%= link_to square_thumb(image, 120), edit_admin_asset_path(image) %>
          <span class="id">ID: <%= image.id %></span>
          <%= link_to 'Remove', remove_admin_asset_path(image), :class => 'action remove', :title => 'Remove Asset' %>
        </li>
      <% end %>
    <% else %>
    <li class='empty'>No Assets</li>
    <% end %>
  </ul>
</div>
<div id="actions">
  <%= pagination_for(@images) %>
  <ul>
    <li><%= link_to 'Upload New Asset', new_admin_asset_path %></li>
  </ul>
</div>
